# Python / Environnements virtuels
.venv/
venv/
env/

# Python / Caches & Fichiers compilés
__pycache__/
*.py[cod]
*$py.class

# Packaging & Build Python
*.egg-info/
build/
dist/

# Tests & Qualité de code
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# IDE / Éditeurs
.spyderproject
.spyproject

# Streamlit
.streamlit/secrets.toml

# Données locales / Fichiers temporaires
*.xlsx
*.xls
*.txt
*.patch